* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
}

@keyframes hideCart {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


